@model List<PotaxieSport.Models.DisponibilidadArbitro>

@{
    ViewData["Title"] = "Disponibilidad de Árbitros";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h2>Disponibilidad del Árbitro: @ViewBag.UsuarioNombre</h2>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Dia</th>
                <th>Hora Inicio</th>
                <th>Hora Final</th>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarDisponibilidadModal">
                    Agregar Disponibilidad
                </button>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

   

    
</div>
