@{
    ViewData["Title"] = "Administrador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<head runat="server">
    <link rel="stylesheet" href="~/css/administrador.css" />
</head>


<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <!-- Aquí va el resto del contenido de tu vista -->
</div>

<div class="container ">
    <div class="row">
        
    </div>
</div>