@{
    ViewData["Title"] = "Administrador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<head runat="server">
    <link rel="stylesheet" href="~/css/administrador.css" />
</head>


<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <!-- Aquí va el resto del contenido de tu vista -->
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-custom">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Título 1</h5>
                    <div class="card-info">
                        <ul class="list-unstyled mb-0">
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-custom">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Título 2</h5>
                    <div class="card-info">
                        <ul class="list-unstyled mb-0">
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-custom">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Título 3</h5>
                    <div class="card-info">
                        <ul class="list-unstyled mb-0">
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Toño</td>
                    <td>Espindola</td>
                    <td>Aguirre</td>
                    <td>Toño</td>
                    <td>tono@hmail.com</td>
                    <td>Admin</td>
                    <td class="action-icons"><i class="fas fa-eye"></i></td>
                    <td class="action-icons"><i class="fas fa-edit"></i></td>
                    <td class="action-icons"><i class="fas fa-trash-alt"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>