@model PotaxieSport.Models.Usuario

@{
    ViewData["Title"] = "Agregar Usuario";
}

<h2>Agregar Usuario</h2>

<form asp-action="CrearUsuario" method="post">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ApPaterno" class="control-label"></label>
        <input asp-for="ApPaterno" class="form-control" />
        <span asp-validation-for="ApPaterno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ApMaterno" class="control-label"></label>
        <input asp-for="ApMaterno" class="form-control" />
        <span asp-validation-for="ApMaterno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RolId" class="control-label"></label>
        <input asp-for="RolId" class="form-control" />
        <span asp-validation-for="RolId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ErrorAutentificacion" class="control-label"></label>
        <input asp-for="ErrorAutentificacion" class="form-control" />
        <span asp-validation-for="ErrorAutentificacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
