<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">Potaxie</a>
        </div>
    </div>


    <ul class="sidebar-nav">
        
   
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="lni lni-user"></i>
                <span>Usuarios</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="~/Administrador/Administrador" class="sidebar-link">Administrador</a>
                </li>
                <li class="sidebar-item">
                    <a href="~/Administrador/Arbitro" class="sidebar-link">Arbitro</a>
                </li>
                <li class="sidebar-item">
                    <a href="~/Administrador/Coach" class="sidebar-link">Coach</a>
                </li>
                <li class="sidebar-item">
                    <a href="~/Administrador/Contador" class="sidebar-link">Contador</a>
                </li>
                <li class="sidebar-item">
                    <a href="~/Administrador/Doctor" class="sidebar-link">Doctor</a>
                </li>
               
            </ul>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-popup"></i>
                <span>Equipos</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>Jugadores</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>Jugadores</span>
            </a>
        </li>
    </ul>


    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>

</aside>